In [202]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [203]:
data=pd.read_csv("https://raw.githubusercontent.com/Arannamoy/datasets/refs/heads/main/Churn_Modelling/Churn_Modelling.csv")

In [204]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [205]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [206]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [207]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [208]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [209]:
from sklearn.preprocessing import OneHotEncoder

In [210]:
one_encoder_geography=OneHotEncoder(sparse_output=False)

In [211]:
geo_encoder=one_encoder_geography.fit_transform(data[['Geography']])

In [212]:
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [213]:
one_encoder_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [214]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=one_encoder_geography.get_feature_names_out(['Geography']))

In [215]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [216]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1
               )

In [217]:
data.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [218]:
### save the encoders and scaler
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("open_hot_encoder_geo.pkl","wb") as file:
    pickle.dump(one_encoder_geography,file)

In [219]:
### divided data into independent and dependent 
X=data.drop("Exited",axis=1)
y=data['Exited']


### split the data into training and testing

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.25)

scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [220]:
with open('scaler.pkl',"wb") as fl:
    pickle.dump(scaler,fl)

In [221]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
from keras import layers,Input
import datetime

In [222]:
X_train.shape[1]

12

In [223]:
### Build our ANN model
model=Sequential(
    [
        Input(shape=(X_train.shape[1],)),
        Dense(64,activation="relu") # 1st HL connected with IL
        ,Dense(32,activation="relu"), # 2nd HL
        Dense(1,activation="sigmoid") # OL
    ]
)

In [224]:
model.summary()

Model: "sequential_6"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_18 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_20 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [225]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),loss=tf.keras.losses.BinaryCrossentropy(),metrics=[tf.keras.metrics.Accuracy()])

In [226]:
### Set up the tensorboard
log_dir="logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [227]:
from tensorflow.keras import callbacks

In [228]:
tensorflow_callback=TensorBoard(log_dir,histogram_freq=1)

In [229]:
### Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=50,restore_best_weights=True)

In [230]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback] 
)

Epoch 1/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.0000e+00 - loss: 0.4469 - val_accuracy: 0.0000e+00 - val_loss: 0.3973
Epoch 2/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3855 - val_accuracy: 0.0000e+00 - val_loss: 0.3615
Epoch 3/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3589 - val_accuracy: 0.0000e+00 - val_loss: 0.3507
Epoch 4/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3453 - val_accuracy: 0.0000e+00 - val_loss: 0.3512
Epoch 5/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3397 - val_accuracy: 0.0000e+00 - val_loss: 0.3475
Epoch 6/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3347 - val_accuracy: 0.0000e+00 - val_loss: 0.3510
Epoch 7/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3335 - val_accuracy: 0.0000e+00 - val_loss: 0.3398
Epoch 8/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3301 - val_accuracy: 0.0000e+00 - val_loss: 0.3401
Epoch 9/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3278 - val_accuracy: 0.0000e+00 - val_loss: 0.3404
Epoch 10/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3254 - val_accuracy: 0.0000e+00 - val_loss: 0.3513
Epoch 11/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3246 - val_accuracy: 0.0000e+00 - val_loss: 0.3392
Epoch 12/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3209 - val_accuracy: 0.0000e+00 - val_loss: 0.3466
Epoch 13/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3201 - val_accuracy: 0.0000e+00 - val_loss: 0.3398
Epoch 14/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3176 - val_accuracy: 0.0000e+00 - val_loss: 0.3394
Epoch 15/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3172 - val_accuracy: 0.0000e+00 - val_loss: 0.3396
Epoch 16/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3149 - val_accuracy: 0.0000e+00 - val_loss: 0.3396
Epoch 17/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3145 - val_accuracy: 0.0000e+00 - val_loss: 0.3357
Epoch 18/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3127 - val_accuracy: 0.0000e+00 - val_loss: 0.3397
Epoch 19/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3114 - val_accuracy: 0.0000e+00 - val_loss: 0.3369
Epoch 20/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3093 - val_accuracy: 0.0000e+00 - val_loss: 0.3399
Epoch 21/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3099 - val_accuracy: 0.0000e+00 - val_loss: 0.3367
Epoch 22/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3067 - val_accuracy: 0.0000e+00 - val_loss: 0.3428
Epoch 23/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3067 - val_accuracy: 0.0000e+00 - val_loss: 0.3460
Epoch 24/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3055 - val_accuracy: 0.0000e+00 - val_loss: 0.3461
Epoch 25/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3038 - val_accuracy: 0.0000e+00 - val_loss: 0.3414
Epoch 26/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3031 - val_accuracy: 0.0000e+00 - val_loss: 0.3436
Epoch 27/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3043 - val_accuracy: 0.0000e+00 - val_loss: 0.3395
Epoch 28/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.3005 - val_accuracy: 0.0000e+00 - val_loss: 0.3414
Epoch 29/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2997 - val_accuracy: 0.0000e+00 - val_loss: 0.3399
Epoch 30/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2982 - val_accuracy: 0.0000e+00 - val_loss: 0.3432
Epoch 31/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2988 - val_accuracy: 0.0000e+00 - val_loss: 0.3417
Epoch 32/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2966 - val_accuracy: 0.0000e+00 - val_loss: 0.3451
Epoch 33/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2970 - val_accuracy: 0.0000e+00 - val_loss: 0.3448
Epoch 34/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2947 - val_accuracy: 0.0000e+00 - val_loss: 0.3435
Epoch 35/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2941 - val_accuracy: 0.0000e+00 - val_loss: 0.3493
Epoch 36/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2937 - val_accuracy: 0.0000e+00 - val_loss: 0.3476
Epoch 37/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2929 - val_accuracy: 0.0000e+00 - val_loss: 0.3451
Epoch 38/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2902 - val_accuracy: 0.0000e+00 - val_loss: 0.3435
Epoch 39/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2898 - val_accuracy: 4.0000e-04 - val_loss: 0.3564
Epoch 40/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0000e+00 - loss: 0.2892 - val_accuracy: 4.0000e-04 - val_loss: 0.3470
Epoch 41/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 1.3333e-04 - loss: 0.2878 - val_accuracy: 4.0000e-04 - val_loss: 0.3493
Epoch 42/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 2.6667e-04 - loss: 0.2871 - val_accuracy: 4.0000e-04 - val_loss: 0.3525
Epoch 43/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 1.3333e-04 - loss: 0.2864 - val_accuracy: 4.0000e-04 - val_loss: 0.3474
Epoch 44/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 1.3333e-04 - loss: 0.2854 - val_accuracy: 8.0000e-04 - val_loss: 0.3552
Epoch 45/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 2.6667e-04 - loss: 0.2843 - val_accuracy: 8.0000e-04 - val_loss: 0.3579
Epoch 46/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 4.0000e-04 - loss: 0.2833 - val_accuracy: 8.0000e-04 - val_loss: 0.3545
Epoch 47/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 4.0000e-04 - loss: 0.2825 - val_accuracy: 8.0000e-04 - val_loss: 0.3571
Epoch 48/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 5.3333e-04 - loss: 0.2811 - val_accuracy: 4.0000e-04 - val_loss: 0.3539
Epoch 49/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 4.0000e-04 - loss: 0.2815 - val_accuracy: 4.0000e-04 - val_loss: 0.3538
Epoch 50/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 6.6667e-04 - loss: 0.2804 - val_accuracy: 4.0000e-04 - val_loss: 0.3530
Epoch 51/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 5.3333e-04 - loss: 0.2770 - val_accuracy: 4.0000e-04 - val_loss: 0.3517
Epoch 52/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 4.0000e-04 - loss: 0.2796 - val_accuracy: 4.0000e-04 - val_loss: 0.3519
Epoch 53/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 4.0000e-04 - loss: 0.2765 - val_accuracy: 8.0000e-04 - val_loss: 0.3544
Epoch 54/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 5.3333e-04 - loss: 0.2761 - val_accuracy: 8.0000e-04 - val_loss: 0.3597
Epoch 55/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 5.3333e-04 - loss: 0.2745 - val_accuracy: 4.0000e-04 - val_loss: 0.3542
Epoch 56/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 5.3333e-04 - loss: 0.2732 - val_accuracy: 8.0000e-04 - val_loss: 0.3578
Epoch 57/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 5.3333e-04 - loss: 0.2723 - val_accuracy: 8.0000e-04 - val_loss: 0.3565
Epoch 58/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 9.3333e-04 - loss: 0.2718 - val_accuracy: 8.0000e-04 - val_loss: 0.3605
Epoch 59/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 6.6667e-04 - loss: 0.2713 - val_accuracy: 8.0000e-04 - val_loss: 0.3580
Epoch 60/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 9.3333e-04 - loss: 0.2694 - val_accuracy: 8.0000e-04 - val_loss: 0.3611
Epoch 61/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0011 - loss: 0.2698 - val_accuracy: 8.0000e-04 - val_loss: 0.3681
Epoch 62/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0012 - loss: 0.2699 - val_accuracy: 8.0000e-04 - val_loss: 0.3619
Epoch 63/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0011 - loss: 0.2674 - val_accuracy: 8.0000e-04 - val_loss: 0.3691
Epoch 64/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0013 - loss: 0.2672 - val_accuracy: 0.0012 - val_loss: 0.3680
Epoch 65/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0012 - loss: 0.2660 - val_accuracy: 8.0000e-04 - val_loss: 0.3670
Epoch 66/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0011 - loss: 0.2657 - val_accuracy: 8.0000e-04 - val_loss: 0.3674
Epoch 67/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.0013 - loss: 0.2628 - val_accuracy: 0.0012 - val_loss: 0.3678

In [231]:
model.save("model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [232]:
### Load tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [234]:
%tensorboard --logdir logs/fit20260213-114026

Reusing TensorBoard on port 6007 (pid 52892), started 0:00:03 ago. (Use '!kill 52892' to kill it.)

In [ ]:
### load the pickle file
model.load